.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  .btn-signup {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-signup:hover {
    background-color: #388e3c;
  }
  
  @media screen and (max-width: 768px) {
    .signup-form {
      max-width: 90%;
    }
  }